[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
django = "*"
numpy = "*"
django2-semantic-ui = "*"
django-crispy-forms = "*"
crispy-forms-semantic-ui = "*"
django-extensions = "*"
pandas = "*"
sklearn = "*"
scipy = "*"
django-filter = "*"

[requires]
python_version = "3.7"
