{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Semantic UI -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
    <script>
        $(document)
            .ready(function () {

                // fix main menu to page on passing
                $('.main.menu').visibility({
                    type: 'fixed'
                });

                // show dropdown on hover
                $('.main.menu  .ui.dropdown').dropdown({
                    on: 'hover'
                });
            });
    </script>

    <!--  Custom CSS and Icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'reviews/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'reviews/favicon.png' %}" />
    {% if title %}
    <title>SwordRama | {{ title }}</title>
    {% else %}
    <title>SwordRama</title>
    {% endif %}
</head>

<body>
    <div class="ui main text container">
        <h1 class="ui header">SwordRama</h1>
        <p>Find the HEMA weapon that you have been dreaming of.</p>
    </div>


    <div class="ui borderless main menu">
        <div class="ui text container">
            <a class="header item" href="{% url 'home' %}">
                <img class="logo" src="{% static 'reviews/favicon.png' %}">
                SwordRama
            </a>
            <a href="{% url 'sword_list' %}" class="item">Swords</a>
            <a href="{% url 'review_list' %}" class="item">Reviews</a>
            <div class="ui right floated dropdown item">
                <i class="large user circle icon"></i>{% if user.is_authenticated %}{{ user.username }}{% else %}Account
                {% endif %}<i class="dropdown icon"></i>
                <div class="menu">
                    {% if user.is_authenticated %}

                    <a href="{% url 'recommendation' %}" class="item">Discover</a>
                    <a href="{% url 'profile' %}" class=" item">Profile</a>
                    <div class="divider"></div>
                    <a href="{% url 'logout' %}" class="item"> Logout</a>
                    {% else %}

                    <a href="{% url 'login' %}" class="item">Login</a>
                    <a href="{% url 'register' %}" class="item"> Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    <div class="ui text container">
        <main>
            {% if messages %}
            {% for message in messages %}
            <div class="ui {{ message.tags }} message">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </main>
    </div>


    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <img src="{% static 'reviews/favicon.png' %}" class="ui centered mini image">
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="https://athenaliu.space/">The Developer</a>
                <a class="item" href="mailto:sdathenaliu@gmail.com">Contact Us</a>
                <a class="item" href="mailto:sdathenaliu@gmail.com">Suggest Swords</a>
                <a class="item" href="https://github.com/XiaoheLiu/sword-recommender">Source Code <i
                        class="github  icon"></i></a>
            </div>
            <p>©️ 2019, Built by Athena Liu</p>
        </div>
    </div>
</body>

</html>