{% extends "reviews/base.html" %}
{% block content %}

<div class="ui vertical stripe segment">
    <div class="ui text container">
        <h2 class="ui header">A Curated List of HEMA Swords</h2>
        <p>As a HEMA practitioner, it is not always a easy job to find a suited weapon. Manufacturers, sword
            specifications, price, shipping... There is a lot to research before you can make that order. </p>
        <p>We hope to make the process easier by building this sword-review platform. We have created a curated sword
            list based on the <a
                href="https://docs.google.com/spreadsheets/d/1kLx0TxPBRav6yG81fVNegE-rBqfEAWYZpYOM6ODy2CQ/edit?fbclid=IwAR0buAckmWs_XJPZHiQvpymbV9VNmXeCm-nr8XqgiqeCrwccJ8rGNSUzTuY"
                target="_blank">HEMA
                Weapon Spreadsheet</a> maintained by <a href=" https://www.aidanblake.com/" target="_blank">Aidan
                Blake</a> et al. Feel free to view these swords along with other people's reviews and ratings, and more
            importantly - add
            your own comments! </p>
        <p>This is a growing list. If you find a sword that is not on our catalog, please fill in this <a
                href="https://forms.gle/nH1vHUXJ3pKX5B588">form to suggest new swords</a>.</p>
        <a class="ui large button" href="{% url 'sword_list' %}">See All {{ sword_count }} Swords</a>

        <div class="ui divider"></div>

        <h2 class="ui  header ">Checkout Top Reviews for Any HEMA Sword</h2>
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">

                {% for review in review_list %}
                <div class="column">
                    <h3>"{{ review.comment }}"</h3>
                    <p>(Review of "{{review.sword.name}}" by {{review.sword.manufacturer}})</p>
                    <p>Rated {{review.rating}}/5 by {{review.author}}</p>
                </div>
                {% endfor %}

            </div>
        </div>
        <a class="ui large button" href="{% url 'review_list' %}">Read All {{ review_count }} Reviews</a>


        <h4 class="ui horizontal header divider">
            <a href="{% url 'register' %}">Join Us Now</a>
        </h4>
        <h2 class="ui header">Get Personalized Sword Recommendations</h2>
        <p>Register now and you will get a recommendation list
            based on our smart machine learning algorithm! We use K-means clustering that makes use of user similarity
            in order to provide the recommendations, so the more reviews on the website, the smarter the recommendation
            will get! </p>
        <a class="ui large button" href="{% url 'recommendation' %}">Get Recommendations</a>
    </div>
</div>





{% endblock content %}