{% extends "reviews/base.html" %}
{% block content %}
{% block header %}
<h1 class="ui dividing header">Latest Reviews</h1>
{% endblock header %}

{% include "reviews/pagination.html" %}

{% if review_list %}
{% for review in review_list %}
<div class="ui vertical segment">
    <h4 class="ui header"> Review of <a href="{% url 'sword_detail' review.sword.id %}">"{{ review.sword.name }}"
            from
            {{ review.sword.manufacturer }} </a>
    </h4>
    <p class="description"> "{{ review.comment }}"</p>
    <p>Rated {{ review.rating }} of 5 by <a href="{% url 'user_reviews' review.author.username %}">{{ review.author}}
        </a><small class="muted-text">
            {{ review.date_created }}</small> </p>

    <small><a href="{% url 'review_detail' review.id %}"> Read more </a></small>
</div>
{% endfor %}
{% endif %}

{% include "reviews/pagination.html" %}

{% endblock content %}