{% extends "reviews/base.html" %}
{% block content %}


<div class="ui raised segment">
    <h4 class="ui header">
        Review of <a href="{% url 'sword_detail' review.sword.id %}">"{{ review.sword.name }}" from
            {{ review.sword.manufacturer }} </a>
    </h4>
    <p> "{{ review.comment }}"</p>
    <p>Rated {{ review.rating }} of 5 by <a href="{% url 'user_reviews' review.author.username %}">{{ review.author}}
        </a><small class="muted-text">
            {{ review.date_created }}</small> </p>
</div>

{% endblock content %}