{% extends "reviews/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="ui vertical segment">
    <h2 class=" ui header"> Review "<a href="{% url 'sword_detail' sword.id %}">{{sword.name}}</a>" </h2>

    <form action="" method="post" class="ui reply form" style="margin-top: 20px;">
        {% csrf_token %}
        {{ form|crispy }}

        <input class="ui blue submit icon button" type="submit" value="Add Review" />

    </form>
    <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        Description
    </h4>
    <table class="ui definition table">
        <tbody>
            <tr>
                <td style="width:30%;">Sword Type</td>
                <td> {{ sword.sword_type }}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Price (USD)</td>
                <td> ${{ sword.price }}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Manufacturer</td>
                <td> {{ sword.manufacturer }}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Website</td>
                <td> <a href="{{ sword.link }}" target="_blank">Open link in new tab <i
                            class="external alternate icon"></i></a></td>
            </tr>
        </tbody>
    </table>

    <h4 class="ui horizontal divider header">
        <i class="bar chart icon"></i>
        Specifications
    </h4>

    <table class="ui definition small table">
        <tbody>
            <tr>
                <td style="width:30%;">Tip Type</td>
                <td> {{ sword.tip_type}}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Weight</td>
                <td> {{ sword.weight}}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Overall Length</td>
                <td> {{ sword.overall_length}}</td>
            </tr>
        </tbody>
    </table>
</div>





{% endblock content %}