{% extends "reviews/base.html" %}
{% block content %}
{% block header %}
<h1 class="ui dividing header">
    <p class="content">
        View All Swords
        <div class="sub header">Click on the sword name to see specifications and reviews of the sword.
        </div>
    </p>
</h1>
{% endblock header %}

{% include "reviews/pagination.html" %}

{% if sword_list %}
<div>
    <table class="ui selectable celled small table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Price (USD)</th>
                <th>Website</th>
            </tr>
        </thead>
        <tbody>
            {% for sword in sword_list %}
            <tr>
                <td><a href="{% url 'sword_detail' sword.id %}"> {{sword.sword_type}} </a></td>
                <td><a href="{% url 'sword_detail' sword.id %}">{{sword.manufacturer}}</a> </td>
                <td><a href="{% url 'sword_detail' sword.id %}">{{sword.name}}</a></td>
                <td><a href="{% url 'sword_detail' sword.id %}">${{sword.price}}</a></td>
                <td> <a href="{{ sword.link }}"><i class="external alternate icon"></i>Link</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% include "reviews/pagination.html" %}

{% endblock content %}