{% extends "reviews/base.html" %}
{% block content %}
<div class="ui segment">
    <h2 class=" ui centered header"> Details of "{{ sword.name }}" </h2>
    <h4 class="ui horizontal divider header">
        <i class="tag icon"></i>
        Description
    </h4>
    <table class="ui definition table">
        <tbody>
            <tr>
                <td style="width:30%;">Sword Type</td>
                <td> {{ sword.sword_type }}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Price (USD)</td>
                <td> ${{ sword.price }}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Manufacturer</td>
                <td> {{ sword.manufacturer }}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Website</td>
                <td> <a href="{{ sword.link }}" target="_blank">Open link in new tab <i
                            class="external alternate icon"></i></a></td>
            </tr>
        </tbody>
    </table>

    <h4 class="ui horizontal divider header">
        <i class="bar chart icon"></i>
        Specifications
    </h4>

    <table class="ui definition small table">
        <tbody>
            <tr>
                <td style="width:30%;">Tip Type <sup>*</sup> </td>
                <td> {{ sword.tip_type}}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Weight</td>
                <td> {{ sword.weight}}</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td>Overall Length</td>
                <td> {{ sword.overall_length}}</td>
            </tr>
        </tbody>
    </table>

    <small>
        <sup>*</sup>Tip Types:
        <ul>
            <li> Rounded = Blunt, usually on the thinner side but not sharp necessarily </li>
            <li> Thickened = A
                thick tip, the
                tip material has been left on the blade stock, the tip is not rolled</li>
            <li>Rolled = Tip has been rolled over itself
                to create a "loop"</li>
        </ul>
    </small>

    <h5>{{ sword.review_set.count }} reviews (Average rating: {{ sword.average_rating | floatformat }}/5 )</h5>
    <a href="{% url 'new_review' sword.id%}" class="ui blue submit icon button">Add Review</a>
</div>

{% if sword.review_set.all %}
<div class="ui comments">
    <h3 class="ui dividing header">Recent reviews</h3>
    {% for review in sword.review_set.all reversed%}
    <div class="comment">
        <div class="content">
            <span class="author"> Rated {{ review.rating }} of 5 by <a
                    href="{% url 'user_reviews' review.author.username %}">{{ review.author}}
                </a></span>
            <div class="metadata">
                <span class="date">{{ review.date_created }}</span></div>
            <div class="text">
                {{ review.comment }}
            </div>
            <div class="actions">
                <a href="{% url 'review_detail' review.id %}" class="reply">Read More</a></div>

            {% endfor %}

            {% else %}
            <h3>No reviews for this sword yet</h3>
            {% endif %}


        </div>
    </div>
</div>

{% endblock content %}