{% extends "reviews/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% block header %}
<h1 class="ui dividing header">
    <p class="content">
        View All Swords
        <div class="sub header">Click on the sword name to see specifications and reviews of the sword.
        </div>
    </p>
</h1>
{% endblock header %}

{% if filter %}
<form method="GET" class="ui form">
    <div class="three fields">
        {{ filter.form|crispy}}
    </div>
    <button type="submit" class="ui blue button">Search</button>
</form>
{% endif %}

<div class="ui divider"></div>
{% if sword_list %}
{% include "reviews/pagination.html" %}
<div>
    <table class="ui selectable celled small compact table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>Price (USD)</th>
                <th>Website</th>
            </tr>
        </thead>
        <tbody>
            {% for sword in sword_list %}
            <tr>
                <td><a href="{% url 'sword_detail' sword.id %}"> {{sword.sword_type}} </a></td>
                <td><a href="{% url 'sword_detail' sword.id %}">{{sword.manufacturer}}</a> </td>
                <td><a href="{% url 'sword_detail' sword.id %}">{{sword.name}}</a></td>
                <td><a href="{% url 'sword_detail' sword.id %}">${{sword.price}}</a></td>
                <td> <a href="{{ sword.link }}"><i class="external alternate icon"></i>Link</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include "reviews/pagination.html" %}
{% else %}
<p class="ui warning message">
    Oops, no sword was found. Please change your query and search again!
</p>
{% endif %}

{% endblock content %}